[submodule "microservices/msvc-payments"]
	path = microservices/msvc-payments
	url = https://github.com/SOAT1StackGoLang/msvc-payments.git
	branch = develop
[submodule "microservices/msvc-orders"]
	path = microservices/msvc-orders
	url = https://github.com/SOAT1StackGoLang/msvc-orders.git
	branch = develop
[submodule "microservices/msvc-production"]
	path = microservices/msvc-production
	url = https://github.com/SOAT1StackGoLang/msvc-production.git
	branch = develop
